@font-face {
    font-family: pixel;
    src: url(VCR_OSD_MONO_1.001.ttf);
}

body  {
    background-color: black;
}

pre, body
{
    font-family: pixel;
}

#page, #compteur, #nolifeTXT, #compteurPage {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -320px;
    margin-left: -400px;
    color: white;
}

#compteur
{
    margin-left: -320px;
}

#compteurPage
{
    margin-left: -260px;
}

#nolifeTXT
{
    margin-left: 0px;
    color: yellow;
}


#heure {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -320px;
    margin-left: 300px;
    color: white;
    width: 100px;
    text-align: right;
}

#screen {
    width: 50em;
    height: 40em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -400px;
    background-color: white;
}

.page {
    display: none;
    width: 100%;
    height: 100%;
}

.textLine {
    height: 25px;
    line-height: 25px;
    width: 100%;
}

#logo {
    position: absolute;
    top: 10px;
    left: 25px;
}

#slogan {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 350px;
    text-align: center;
}

#antenne {
    position: absolute;
    top: 25px;
    left: 400px;
    width: 350px;
    height: 100px;
    background-color: black;
    color: white;
    z-index: 2;
}

#antenneShadow {
    position: absolute;
    top: 40px;
    left: 415px;
    width: 350px;
    height: 100px;
    background-color: silver;
    z-index: 1;
}

.prog {
    width: 100%;
    position: absolute;
    height: 25px;
    color: white;
    line-height: 25px;
}

#antenneNowLabel {
    top: 0px;
}

#antenneNow {
    top: 25px;
    padding-left: 25px;
}

#antenneNextLabel {
    top: 50px;
}

#antenneNext {
    top: 75px;
    padding-left: 25px;
}

#infos {
    position: absolute;
    top: 150px;
    width: 100%;
    height: 75px;
    background-color: black;
}

.info {
    width: 100%;
    position: absolute;
    height: 25px;
    color: white;
    line-height: 25px;
}

#info1 {
    top: 0px;
}

#info2 {
    top: 25px;
}

#info3 {
    top: 50px;
}

#plus {
    position: absolute;
    top: 325px;
    width: 100%;
    height: 13em;
    background-color: black;
}

.plus {
    width: 30%;
    position: absolute;
    height: 25px;
    color: white;
    line-height: 25px;
}

.plus.l1 {
    top: 1em;
}

.plus.l2 {
    top: 4em;
}

.plus.l3 {
    top: 7em;
}

.plus.l4 {
    top: 10em;
}

.plus.c1 {
    left: 0;
}

.plus.c2 {
    left: 35%;
}

.plus.c3 {
    left: 70%;
}

.pub {
    width: 100%;
    position: absolute;
    text-align: center;
    height: 25px;
    color: white;
    line-height: 25px;
}

.pub .pageNumber, .info .pageNumber, .plus .pageNumber, .retourCategorie .pageNumber, .retourAccueil .pageNumber{
    position: absolute;
    right: 10px;
}

#pub1 {
    top: 230px;
}
#pub1, #page_pub1 {
    background-color: red;
    color: white;
}

#pub2 {
    top: 260px;
}
#pub2, #page_pub2 {
    background-color: green;
    color: orange;
}

#pub3 {
    top: 290px;
}
#pub3, #page_pub3 {
    background-color: purple;
    color: lightblue;
}

#pub4 {
    bottom: 70px;
}
#pub4, #page_pub4 {
    background-color: blue;
    color: Aqua;
}

#pub5 {
    bottom: 40px;
}
#pub5, #page_pub5 {
    background-color: gold;
    color: FireBrick;
}

#pub6 {
    bottom: 10px;
}
#pub6, #page_pub6 {
    background-color: pink;
    color: MidnightBlue;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}


.newsBar {
    position: absolute;
    top: 25px;
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: white;
    background-color: black;
}
.newsTitle {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
}
.newsContent {
    position: absolute;
    top: 100px;
    width: 100%;
}


.pubTitre {
    position: absolute;
    top: 25px;
    width: 100%;
    height: 100px;
    font-size: 40px;
    text-align: center;
}

.pubImage {
    position: absolute;
    top: 100px;
    width: 300px;
    height: 500px;
}

.pubText {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 500px;
    height: 500px;
    line-height: 500px;
    text-align: center;
}

.pubText span {
    width: 450px;
    padding: 25px;
    vertical-align: middle;
    display: inline-block;
    line-height: 1.2;
    text-align: left;
}

.sommaireTitre {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

.sommaireCol1, .sommaireCol2 {
    position: absolute;
    top: 50px;
    width: 50%;
    height: 500px;
}

.sommaireCol1 {
    left: 0;
}

.sommaireCol2 {
    left: 50%;
}

.sommaireCol1 span, .sommaireCol2 span {
    display: inline-block;
}

.sectionSommaire {
    width: 100%;
    text-align: center;
}

.retourCategorie, .retourAccueil {
    position: absolute;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: white;
    color: black;
}

#wikiTitre {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    font-size: 40px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#wikiContent {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 500px;
}

.retourCategorie {
    bottom: 25px;
}

.retourAccueil {
    bottom: 0px;
}
